.avatar-profilepic{
  border-radius: 50%;
  border: 1px solid white;
  max-width: 50%;
  max-height: 50%;
}

.avatar-profilepic-container{
  overflow: hidden;
}

.avatar-userinfo h3{
  font-style: italic;
}

.avatar-main{
  padding: 40px;
}
