.header-main{
  background-color: white;
  text-align: center;
  height: 75px;
  border-bottom: 1px solid #cecece;
}

.header-searchbar{
  padding: 5px;
  display: inline-block;
  max-width: 25%;
}

.header-logo{
  margin-left: -500px;
  padding: 5px;
  padding-right: 250px;
  display: inline-block;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 45px;
  margin-bottom: 10px;
  display: inline-block;
}
.App-title {
  display: inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
